<html>
  <script src="/javascripts/smoothie.js" type="text/javascript"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/client_ioevents.js" type="text/javascript"></script>

  <script src="/javascripts/flot/jquery.js" type="text/javascript"></script>
  <script src="/javascripts/flot/jquery.flot.js" type="text/javascript"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      //smoothie live charts
      createTimeline();
      // flot history
      var options = {
        grid: { hoverable: true }, 
        series: {
          lines: { show: true },
          points: { show: true }
        },
        xaxis: {
          mode: "time",
          timeformat: "%d/%m/%y %H:%M"
        }
        // , yaxis: { max: 500 } 
      };
      populateTempHistory("#temp_history", options);
    });
  </script>

  <body onload="">

    <h2>History by hour</h2>
    <div id="temp_history" style="width:600px;height:300px"></div>

    <h2>Live photoresistor reading</h2>
    <canvas id="chart_light" width="400" height="100"></canvas>
  
    <h2>Live Temperature</h2>
    <canvas id="chart" width="400" height="100"></canvas>
    
    <h2>Live CPU Load</h2>
    <canvas id="chart_cpu" width="400" height="100"></canvas>
    
  </body>
</html>